.git
**/.git
.agents
.codex
.vscode
**/Manifest.toml
**/LocalPreferences.toml
/environments/krylov/
/environments/ordinarydiffeq/
/environments/integrals_optimization/
**/__pycache__
**/*.pyc
**/*.log*
**/*.err*
**/*.prof
results*
plots*
